html, body {
    color: $foreground-color;
    background: $background-color;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    line-height: 1.388888;
}

body {
    margin: 0;
}

::selection {
    background-color:$tertiary-color;
    color:$background-color;
    text-shadow:none;
}

a, a:visited {
    color: $tertiary-color;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: $background-color;
    background: $tertiary-color;
}

header {
    margin-top: 1rem;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}

.title {
    font-size: 3em;
}

.back-arrow {
    font-family: monospace;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
}

.project-list {
    list-style: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
        list-style: none;
        display: inline-block;
        width: calc(100% / 3);
        margin-bottom: 0.75rem;
    }
}

.post-list {
    list-style: none;
    list-style-type: none;
    padding: 0;
    width: 100%;

    li {
        display: flex;
    }

    &__link {
    }

    &__timestamp {
        margin-left: auto;
    }
}

.article-body {
    p:first-child {
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 600px) {
    .project-list {
        li {
            width: 100%;
        }
    }

    .post-list {
        &__timestamp {
            display: none;
        }
    }
}