---
layout: default
title: jx0.uk
---
<section>
    <p style="font-size: 1.25em"><strong>Hi!</strong> I am James and below are some words on Software Engineering as well as some programming-related projects.</p>
</section>

<section>
    <h1>Projects</h1>
    <ul class="project-list">
        <li><a class="project-list__link" href="{{ 'projects/bedside-light.html' | relative_url }}">Raspberry Pi bedside Lamp with Spotify</a></li>
    </ul>
</section>

<section>
    <h1>Posts</h1>
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            <a class="post-list__link" href="{{ post.url }}">{{ post.title | escape }}</a>
            <small class="post-list__timestamp">{{ post.date | date_to_long_string }}</small>
        </li>
        {%- endfor -%}
    </ul>
</section>
