{% if site.paginate %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

<div class="posts">
    <h1 class="content-subhead">Recent Posts</h1>

    {%- for post in posts -%}
        <section class="post">
            <header class="post-header">
                <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="/img/common/ericf-avatar.png">

                <h2 class="post-title">{{ post.title | escape }}</h2>

                <p class="post-meta">
                    By <a class="post-author" href="#">Eric Ferraiuolo</a> under <a class="post-category post-category-js" href="#">JavaScript</a>
                </p>
            </header>

            <div class="post-description">
                <p>
                    {%- if site.show_excerpts -%}
                        {{ post.excerpt }}
                    {%- endif -%}
                </p>
            </div>
        </section>
    {%- endfor -%}

</div>